name: nrl_app
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
  firebase_core: ^4.2.1
  cloud_firestore: ^6.1.0
  shared_preferences: ^2.5.3
  firebase_storage: ^13.0.4
  url_launcher: ^6.3.2
flutter:
  uses-material-design: true
  assets:
    - assets/nrl_logo.png